<main class="principalContainer">
  <section class="searchContainer">
    <form>
      <input
        class="searchInput js_search_input"
        value=""
        type="text"
        placeholder="Title name"
        name="search"
        id="search"
      />
    </form>
    <div>
      <ul class="ulContainerTitles js_ul_titles"></ul>
    </div>
  </section>
  <button class="buttonSearch js_button_search">Search</button>
  <button class="buttonSearch js_reset" type="reset">Reset</button>

  <section>
    <h2 class="title_favorites">Favorites Shows</h2>
    <ul class="ulContainerImages js_ul_favorite"></ul>
  </section>
</main>
